@import '../../class.scss';
.active{
    background-color: $color-orange !important;
}
#main-blog{
    padding: 110px 0 90px 0;
}
div.blog-item {
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
     /**/
    .image{
        position: relative;
        z-index: 2;
        overflow: hidden;
        display: flex;
        transition: all 0.5s;
        &::after{
            content: ' ';
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
        .date{
            position: absolute;
            top: 22px;
            left: 35px;
            z-index: 10;
            p{
                margin: 0;
                color: #fff;
            }
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .content {
        transition: all 0.5s;
        padding: 35px 40px 30px 40px;
        .tittle {
            p{
                margin: 0;
            }
        }
        .meta {
            display: flex;
            gap: 10px;
            margin: 20px 0;
            p{
                margin: 0;
                &:first-child{
                    color: #ff5e14 !important;
                }
            }
            span{
                &::before{
                    color: #c7c7c7;
                }
            }
        }
        .about{
            margin: 0 0 25px 0;
            p{
                margin: 0;
                color: #9b9b9b;
            }
        }
        > a{
            button{
                border: 0;
                background-color: transparent;
                display: flex;
                gap: 10px;
                justify-content: start;
                align-items: center;
                padding: 0;
                transition: all 0.3s;
                p{
                    margin: 0;
                }
                .greater {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 2px solid #ff5e14;
                    position: relative;
                    span{
                        &::before{
                            color: #000;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                    transform: scale(1.25) translate(10px,0);
                }
            }
        }
    }
    &:hover{
        cursor: pointer;
        transform: translate(0, -20px);
        .image{
            height: 100%;
            width: 100%;
            img{
                object-position: 27% 100%;
            }
        }
        .content {
            position: relative;
            transform: translateY(-100%);
            z-index: 10;
            p{
                color: #fff;
                transition: all 0.3s;
            }
            > a{
                text-decoration: none;
                button{
                    .greater{
                        background-color: #ff5e14 ;
                        transition: all 0.3s;
                        > i{
                            color: #fff ;
                            transition: all 0.3s;
                        }
                    } 
                    p{
                        color: #ff5e14 ;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}
.wrap-blog-list{
    height: 100%;
    .blog-list {
         grid-gap: 40px;
    }
    .blog-list-number{
        margin-top: 40px;
        gap: 20px;
        .ctrl-list-number{
            gap: 10px;
        }
        .pagination-item{
            cursor: pointer;
            height: 58px;
            width: 58px;
            border: none;
            border-radius: 2px;
            background-color: $color-back-main;
            color: $color-white;
        }
        .ctrl-next{
            &:hover{
                background-color: $color-orange;
            }
        }
    }
}
#blog_h{
    h4{
        line-height: 30px;
    }
}