@import '../../class.scss';

.wrap-services_h{
    padding: 130px 0 110px 0;
    .services{
        &-top{
            &-tittle{
                h4{
                    margin-top: 14px;
                }
            }
            &-about{
                &-text{
                    margin-top: 18px;
                    p{
                        line-height: 27px ;
                    }
                }
                &-btn{
                    gap: 30px;
                    margin: 32px 0 70px 0;
                    &-how{
                        &:first-child{
                            &:hover{
                                background-color: $color-orange;
                                span{
                                    &::before{
                                        color: $color-orange;
                                    }
                                }
                            }
                        }
                        &:last-child{
                            padding: 0;
                            .item-btn{
                                &:nth-child(1){
                                    order: 2;
                                    border: 2px  solid $color-orange;
                                    transition: all 0.3s;
                                }
                            }
                            &:hover{
                                .item-btn{
                                    &:nth-child(1){
                                        background-color: $color-orange;
                                        span{
                                            &::before{
                                                color: $color-white;
                                            }
                                        }
                                    }
                                    &:nth-child(2){
                                        p{
                                            color: $color-orange;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-bottom{
            grid-gap: 2px;
            flex-wrap: wrap;
            background-color: #eaeaea;
            box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
            &-item{
                background-color: $color-white;
                padding: 50px 30px 20px 40px;
                position: relative;
                transition: all 0.3s;
                > img{
                    transition: all 0.6s;
                }
                &::before{
                    content: '';
                    background: linear-gradient(to top, $color-orange 20%, rgba(226, 86, 4, 0.808) );                   
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition: all 0.3s;
                    z-index: -1;
                }
                &-tittle{
                    width: 60%;
                    margin: 30px 0 25px 0;
                    p{
                        line-height: 30px;
                    }
                }
                &-text{
                    p{
                        line-height: 25px;
                    }
                }
                &-btn{
                    margin: 3px 0 10px 0;
                    padding: 20px 0;
                    .wrap-chevron{
                        span{
                            &::before{
                                color: $color-white;
                            }
                        }
                    }
                    &:hover{
                        transform: scale(1.15) translateX(10px);
                    }
                    &:active{
                        box-shadow: unset;
                    }
                }
                &:hover{
                    background-image: url(../images/main/services/bg.png);
                    @extend .bg-img;
                    > img{
                        filter: grayscale(100%) brightness(300%);
                        transform: rotateY(360deg);
                    }
                    p, h5{
                        color: $color-white;
                    }
                    .services-bottom-item-bg{
                        transform: translateX(0);
                        opacity: 1;
                    }
                    &::before{
                        opacity: 1;
                    }
                    .services-bottom-item-btn{
                        .wrap-chevron{
                            background-color: $color-white ;
                            span{
                                &::before{
                                    color: $color-orange;
                                }
                            }
                        }
                    }
                }
            }
            &-last{
                padding: 40px;
                gap: 20px;
                .wrap-alert{
                    gap: 30px;
                    cursor: pointer;
                    &-icon{
                        position: relative;
                        width: 68px;
                        height: 68px;
                        border: 10px solid #eaeaea;
                        border-radius: 50%;
                        transition: all 0.3s;
                        order: 1;
                        span{
                            &::before{
                                transition: all 0.3s;
                                position: absolute;
                                @extend .absolute-50-50;
                            }
                        }
                    }
                    &-text{
                        width: 50%;
                        order: 2;
                        p{
                            line-height: 25px;
                        }
                        span{
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                height: 2px;
                                width: 100%;
                                background-color: $color-orange;
                                left: 0;
                                bottom: -2px;
                            }
                        }
                        &:hover{
                            p{
                                color: $color-orange;
                            }
                            +.wrap-alert-icon{
                                border-color: $color-orange;
                                span{
                                    &::before{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .wrap-last-btn{
                    height: 100%;
                    button{
                        @include b-shadow($color-back-main);
                        &:hover{
                            box-shadow: none;
                            background-color: $color-orange;
                            p{
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1532px){
    .wrap-services_h{
        text-align: center;
        .services{
            &-bottom{
                &-last{
                    .wrap-alert{
                        &-text{
                            width: 80%;
                        }
                    } 
                    button{
                        margin-left: auto;
                        margin-right: auto;
                        p{
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1280px){
    .wrap-services_h{
        text-align: center;
        .services{
            &-top{
                &-about{
                    &-btn{
                        justify-content: space-around;
                    }
                }
            }
            &-bottom{
                &-item{
                    &-tittle{
                        padding: 0 10%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &-btn{
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                &-last{
                    .wrap-alert{
                        &-text{
                            width: 100%;
                        }
                    } 
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .wrap-services_h{
        .services{
            &-top{
                &-about{
                    &-btn{
                        display: unset;
                        padding: 40px auto;
                        button{
                            margin: 30px auto;
                        }
                    }
                }
            }
            &-bottom{
                &-item{
                    &-tittle{
                        padding: 0;
                    }
                }
                &-last{
                    display: unset;
                    .wrap-alert{
                        &-text{
                            width: 100%;
                        }
                    } 
                    .wrap-last-btn{
                        button.last-btn{
                            height: unset;
                            border: 2px solid $color-back-main;
                            border-radius: 2px;
                            background-color: transparent;
                            padding: 20px 30px;
                            margin: 20px auto 0 auto;
                            transition: all 0.3s;
                            &:hover{
                                background-color: $color-orange;
                                border-color: $color-gray-footer-li;
                                p{
                                    color: $color-white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 575px){
    .services-top{
        display: unset !important;
    }
}